/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	width: 100%;
	height: 100%;
}
div.header {
	width: 100%;
	height: 75px;
	background-color: #AA3939;
	
}
div.container {
	text-align: center;
	margin-top: 20px;
	width: 100%;
	height: 100%;
}
div.footer {
  background-color: #AA3939;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: none;
}
.mainLogo {
  position: absolute;
  left: 9px;
  top: 9px;
  height: 100px;
  width: 100px;

}

.picklist {
    margin-top: 20px;
}